/**
 * Use css variables in themes with a fallback to the prism.js default theme
 * Based on https://github.com/PrismJS/prism/issues/2603
 * @author Richard Werkman
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--prism-maintext, #ccc);
	background: none;
	font-family: var(--bs-font-monospace, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace);
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* :not(pre) > code[class*="language-"],*/
pre[class*="language-"] {
	background: var(--prism-background, #2d2d2d);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

pre[class*="language-"].show-line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}


pre[class*="language-"].show-line-numbers>code {
	position: relative;
	white-space: inherit;
}

.show-line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	font-size: 100%;
	left: -3em;
	width: 2em;
	/* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid;
	border-right-color: var(--prism-text, #999);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

span.line-numbers-rows {
	display: inline;
	counter-increment: linenumber;
}

span.line-numbers-rows:before {
	content: counter(linenumber);
	color: var(--prism-text, #999);
	display: inline;
	padding-right: 0.8em;
	text-align: right;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--prism-text, #999);
}

.token.punctuation {
	color: var(--prism-punctuation, #ccc);
}

.token.namespace {
	color: var(--prism-namespace, #999);
	opacity: .7;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--prism-keywords, #cc99cd);
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.variable {
	color: var(--prism-strings, #7ec699);
}

.token.boolean,
.token.constant,
.token.number,
.token.property,
.token.symbol,
.token.tag {
	color: var(--prism-symbol, #f8c555);
}

.token.class-name,
.token.function {
	color: var(--prism-type, #dd4a68);
}

.token.important,
.token.regex {
	color: var(--prism-regex, #e90);
}

.token.deleted {
	color: var(--prism-deleted, red);
}

.token.operator,
.token.entity,
.token.url {
	color: var(--prism-url, #67cdcc);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
