<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="fox.jason.prismjs" version="2.1.0">
	<feature extension="ant.import" file="process_prismjs.xml"/>
	<!-- PDF -->
	<feature extension="dita.xsl.xslfo" value="xsl/xslfo.xsl" type="file"/>
	<!--
		This plugin requires the XMLTask lib
	-->
	<require plugin="org.doctales.xmltask"/>
	<require plugin="fox.jason.extend.css"/>

	<feature extension="depend.preprocess.post" value="prismjs"/>
	<feature extension="extend.css.process" value="prismjs.css.copy"/>
</plugin>
